@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --card: #ffffff;
  --card-foreground: #171717;
  --popover: #ffffff;
  --popover-foreground: #171717;
  --primary: #1D549F;
  --primary-foreground: #ffffff;
  --secondary: #f1f5f9;
  --secondary-foreground: #171717;
  --muted: #e2e8f0;
  --muted-foreground: #676A6C;
  --accent: #e2e8f0;
  --accent-foreground: #171717;
  --destructive: #ef4444;
  --destructive-foreground: #ffffff;
  --border: #e2e8f0;
  --input: #e2e8f0;
  --ring: #1D549F;
  --radius: 0rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-outfit), sans-serif;
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
}



body {
  cursor: default;
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-family: var(--font-outfit), sans-serif;
}

@keyframes collapsible-down {
  from {
    height: 0;
    opacity: 0;
  }

  to {
    height: var(--radix-collapsible-content-height);
    opacity: 1;
  }

  from {
    height: 0;
    opacity: 0;
  }

  to {
    height: var(--radix-collapsible-content-height);
    opacity: 1;
  }
}

@keyframes collapsible-up {
  from {
    height: var(--radix-collapsible-content-height);
    opacity: 1;
  }

  to {
    height: 0;
    opacity: 0;
  }

  from {
    height: var(--radix-collapsible-content-height);
    opacity: 1;
  }

  to {
    height: 0;
    opacity: 0;
  }
}

.dropdown-menu[data-state="open"] {
  animation: dropdownIn 0.2s ease;
}

.dropdown-menu[data-state="closed"] {
  animation: dropdownOut 0.15s ease;
}

@keyframes dropdownIn {
  from {
    opacity: 0;
    transform: scale(0.3);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes dropdownOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(-5px);
  }
}

.dropdown-item {
  transition: transform 0.3s ease;
}

.dropdown-item:hover {
  cursor: pointer;
  transform: translateX(4px);
  color: rgb(21, 65, 185)
}

.modal-box {
  animation: modalDrop 0.25s ease;
}

.modal-box.closing {
  animation: modalExit 0.3s ease forwards;
}

.modal-content {
  animation: modalDrop 0.4s ease;
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 20px;
  overflow: hidden;
  z-index: 9999;
}

@keyframes modalDrop {
  from {
    opacity: 0;
    transform: translateY(-45px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes modalExit {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.download-btn,
.add-btn,
.danger-btn {
  transition: transform 0.2s ease-in-out;
}

.download-btn:hover,
.add-btn:hover {
  transform: translateY(-3px);
  cursor: pointer;
  background-color: rgb(21, 65, 185);
  transition: transform 0.3s ease;
}

.danger-btn:hover {
  background-color: #EC4758;
  transform: translateY(-3px);
  transition: transform 0.3s ease;
}

.download-btn[data-state="open"] {
  transform: translateY(-5px);
  background-color: #18a689;
}

.trash-btn,
.sign-btn,
.info-btn {
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.view-btn {
  display: inline-block;
  transition: transform 0.2s ease-in-out
}

.view-btn:hover {
  background-color: rgb(21, 65, 185);
  transform: translateY(-2px);
}

.trash-btn:hover,
.info-btn:hover {
  background-color: rgb(236, 177, 28);
  transform: translateY(-2px);
}

.sign-btn:hover {
  background-color: rgb(38, 189, 169);
  transform: translateY(-2px);
}

.dropdown-menu[data-state="open"] {
  animation: dropdownIn 0.2s ease;
}

.dropdown-menu[data-state="closed"] {
  animation: dropdownOut 0.15s ease;
}

@keyframes dropdownIn {
  from {
    opacity: 0;
    transform: scale(0.3);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes dropdownOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(-5px);
  }
}

.dropdown-item {
  transition: transform 0.3s ease;
}

.dropdown-item:hover {
  cursor: pointer;
  transform: translateX(4px);
  color: rgb(21, 65, 185)
}

@keyframes accordion-down {
  from {
    height: 0;
  }

  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes accordion-up {
  from {
    height: var(--radix-accordion-content-height);
  }

  to {
    height: 0;
  }
}

[data-slot="accordion-content"][data-state="open"] {
  animation: accordion-down 0.2s ease-out forwards;
}

[data-slot="accordion-content"][data-state="closed"] {
  animation: accordion-up 0.2s ease-out forwards;
}

@keyframes breathe {

  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.15);
  }
}

.animate-breathe {
  animation: breathe 1s infinite ease-in-out;
}

@keyframes toastIn {
  from {
    transform: translateY(-15px) scale(0.95);
    opacity: 0;
  }
  to {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}

.animate-toast-in {
  animation: toastIn 0.28s cubic-bezier(0.21, 1.02, 0.43, 1.01) forwards;
}