@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  cursor: default;
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

@keyframes collapsible-down {
  from { height: 0; opacity: 0; }
  to { height: var(--radix-collapsible-content-height); opacity: 1; }
}

@keyframes collapsible-up {
  from { height: var(--radix-collapsible-content-height); opacity: 1; }
  to { height: 0; opacity: 0; }
}

button {
  outline: none;
}

.tab {
  padding: 0.75rem 0.5rem;
  border-top: 1px solid #e5e7eb;
  border-left: 1px solid #e5e7eb;
  border-right: 1px solid #e5e7eb;
}

.tab-active {
  color: rgb(82, 82, 82);
  background: white;
  transform: scale(1.1);
  transform: translateY(5px);
  font-weight: 600;
}

.tab-inactive {
  font-size: 14px;
  background: #d1d5db;
  border-bottom: 1px solid white;
  transition: transform 0.3s ease;
  transform: translateY(5px);
}

.tab-inactive:hover {
  transform: translateY(-1px);
  z-index: 1;
  cursor: pointer;
}

tr {
  transition: background 0.15s ease;
}

.search-btn,
.download-btn,
.add-btn,
.modal-add-btn {
  transition: transform 0.2s ease-in-out;
}

.search-btn:hover,
.download-btn:hover,
.add-btn:hover, 
.modal-add-btn:hover {
  transform: translateY(-3px);
  cursor: pointer;
  background-color: rgb(21, 65, 185);
  transition: transform 0.3s ease;
}

.download-btn[data-state="open"] {
  transform: translateY(-5px);
}

.reset-btn:hover {
  cursor: pointer;
  background-color: rgb(87, 95, 110);
}

.nav:hover {
  cursor: pointer;
  text-decoration: underline;
}

.page-nav:hover {
  cursor: pointer;
  background-color: rgb(21, 65, 185);
}

.view-btn,
.trash-btn,
.sign-btn {
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.view-btn:hover {
  transform: translateY(-2px);
  background-color: rgb(21, 65, 185);
}

.trash-btn:hover {
  transform: translateY(-2px);
  background-color: rgb(236, 177, 28);
}

.sign-btn:hover {
  transform: translateY(-2px);
  background-color: rgb(38, 189, 169);
}

input, select {
  border: 1px solid #c2c4c9;
}

input:focus, select:focus {
  outline: none;
  border: 1px solid #8c939e;
}

.card {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}

.dropdown-menu[data-state="open"] {
  animation: dropdownIn 0.25s ease;
}

.dropdown-menu[data-state="closed"] {
  animation: dropdownOut 0.2s ease;
}

@keyframes dropdownIn {
  from {
    opacity: 0;
    transform: scale(0.1);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes dropdownOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: scale(0.1);
  }
}

.dropdown-item {
  transition: transform 0.3s ease;
}

.dropdown-item:hover {
  cursor: pointer;
  transform: translateX(4px);
  color:rgb(21, 65, 185)
}

.modal-content {
  animation: modalDrop 0.4s ease;
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 20px;
  overflow: hidden;
  z-index: 9999;
}

@keyframes modalDrop {
  from {
    opacity: 0;
    transform: translateY(-45px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.modal-title {
  font-size: 16px;
  font-weight: 600;
}

.modal-close-btn {
  transition: transform 0.3s ease;
}

.modal-close-btn:hover {
  cursor: pointer;
  color: #5d646e;
  transform: translateY(-2px);
}

.modal-close-btn::after {
  animation: modalExit 0.4s ease;
}

.modal-box.closing {
  animation: modalExit 0.25s ease;
}

@keyframes modalExit {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-45px);
  }
}